<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= data.name %>Protfolioview</title>
</head>
<body style="background: skyblue">
    <h1><%= data.name %>Protfolio Dashboard</h1>
    <div>
        Employee Name: <input type="text" value=<%= data.name %>><br>
        Employee Age: <input type="text" value=<%= data.age %>><br>
        Employee Gender: <input type="text" value="<%= data.gender %>"><br>
        Employee Projectcode: <input type="text" value="<%= data.projectcode %>"><br>
        Employee Manager: <input type="text" value="<%= data.manager %>"><br>
        Employee Salary: <input type="text" value="<%= data.salary %>"><br>
    </div>
</body>
</html>